@model IEnumerable<Category>
@{
    ViewBag.Title = "Heartbeats";
    ViewBag.PageHeader = "Heartbeat";
    ViewBag.Logo = ViewBag.LogoMini = "Health";
}

<div id="grid"></div>

<script>

    $(document).ready(function () {
        var baseUrl = "@Url.Content("~/api/heartbeats/")";

        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: { url: baseUrl, type: "GET" },
                    //update: { url: baseUrl + "update", type: "POST", dataType: "json", contentType: "application/json" },
                    //destroy: { url: baseUrl + "delete", type: "POST", dataType: "json", contentType: "application/json" },
                    //create: { url: baseUrl + "create", type: "POST", dataType: "json", contentType: "application/json" },
                    parameterMap: function (model, operation) {
                        if (operation !== "read" && model) {
                            return kendo.stringify(model);
                        }
                    }
                },
                serverPaging: false,
                serverSorting: false,
                batch: false, 
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            id: { type: "number" },
                            timestamp: { type: "date" },
                            deviceId: { type: "string" },
                            value: { type: "number" }
                        }
                    }
                }
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            //editable: "inline",
            columns: [
                { command: [ "edit", "destroy" ], title: " ", width: 180 },
                "id",
                { field: "timestamp", title: "Date/Time", format: "{0:dd/MM/yyyy HH:mm:ss.fff}" },
                { field: "deviceId", title: "Device" },
                { field: "value", title: "Value" }
            ],
            //toolbar: [
            //    "create"
            //],
            saveChanges: function (e) {
                // Refresh della grid per avere gli ID.
                e.sender.one("dataBound", function () {
                    e.sender.dataSource.read();
                });
            },
        });
    })

</script>
