@model IEnumerable<Hearthbeat>
@{ 
    ViewBag.Title = "Home";
    ViewBag.PageHeader = "Home Page";
    ViewBag.Logo = ViewBag.LogoMini = "Health";
}

<div id="grid"></div>

<script>

    $(document).ready(function () {
        var data = @(Json.Serialize(Model));

        $("#grid").kendoGrid({
            dataSource: {
                data: data,
                schema: {
                    model: {
                        fields: {
                            id: { type: "number" },
                            deviceId: { type: "string" },
                            timestamp: { type: "date" },
                            value: { type: "number" }
                        }
                    }
                }
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            columns: [
                "id",
                { field: "deviceId", title: "Device" },
                { field: "timestamp", title: "Date/Time", format: "{0:dd/MM/yyyy HH:mm:ss.fff}" },
                { field: "value", title: "Hearthbeats" }
            ]
        });
    })

</script>